* {
    margin : 0px ;
    border : 0px ;
    padding : 0px ;
    box-sizing: border-box;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
}

.canvas{
    width : 600px;
    height: 600px;
}

.left-buttons , .right-buttons {
    flex : 1;
    display : flex;
    flex-direction: column;
    height: 600px;
   
}

.left-buttons > *, .right-buttons > *{
    flex : 1;
    
}